//
// Globals
//
// :: Variables
// :: Functions
// :: Mixins

//
// Variables
//

$wrapper-width:    1024px;
$background-color: white;
$foreground-color: black;
$highlight-color:  red;
$base-font-size:   16px;
$base-line-height: 1.5;

//
// Functions
//

@function font-size( $target-font-size ) {
	@return $target-font-size / $base-font-size * 1rem;
}

@function line-height( $target-font-size ) {
	$lineMultipl
}

//
// Mixins
//
