.form-range {
	display: inline-block;
	height: 100px;
	width: 100px;
	position: relative;
}

.form-range input {
	/* display: block; */
	/* position: absolute; */
	/* left: 50%; */
	/* top: 50%; */
	/* transform: rotate( 270deg ); */
	/* width: 100px; */
	/* -webkit-appearance: none; */
}

.form-range input::-webkit-slider-runnable-track {
	background-color: red;
	border: none;
}

.form-range input::-webkit-slider-thumb {
	/* border: none; */
	/* border-radius: 50%; */
	/* -webkit-appearance: red; */
	background: red;
	cursor: pointer;
}
