$white-count: 15;
$white-width: calc( 100% / $white-count );
$black-width: calc( $white-width / 2 );

$white-color: white;
$white-pressed-color: color( $white-color blackness( 15% ) );
$black-color: black;
$black-pressed-color: color( $black-color whiteness( 15% ) );

.keyboard-key {
	background: $white-color;
	height: 100%;
	float: left;
	width: $white-width;
	border-right: 1px solid black;
	position: relative;
	z-index: 1;

	&:last-child {
		border-right: none;
	}

	&.keyboard-key--is-pressed {
		background: $white-pressed-color;
	}

	&.keyboard-key--accidental {
		border: none;
		border-radius: 0 0 3px 3px;
		background: black;
		margin: 0 calc( $black-width / -2 );
		width: $black-width;
		height: 65%;
		z-index: 2;

		&.keyboard-key--is-pressed {
			background: $black-pressed-color;
		}
	}
}
