{
	"extends": "stylelint-config-recommended-scss",

	"plugins": [
		"stylelint-scss",
	],

	"rules": {
		"indentation":                                    "tab",
		"function-parentheses-space-inside":              "always",
		"media-feature-parentheses-space-inside":         "always",
		"selector-pseudo-class-parentheses-space-inside": "always",
	},
}
