.form-select {
	border: 1px solid white;
	margin: lines( 0.5 ) 0;

	select {
		appearance: none;
		background: transparent;
		border: none;
		color: white;
		cursor: pointer;
		font-size: font-size( 18px );
		line-height: line-height( 18px );
		height: 100%;
		padding: lines( 0.5, 1px ) lines( 0.75, 1px );
		width: 100%;
	}
}
