/**
 * Tabs
 */

@import 'global';

.tabs {
	.tabs__titles {
		padding: lines( 0.5 ) 0;
		text-align: center;
	}
}

.tabs__title {
	cursor: pointer;
	background: transparent;
	height: lines( 2 );
	outline: none;

	.icon {
		color: rgba( $color-light, 0.5 );
	}
	
	&:hover .icon,
	&.tabs__title--active .icon {
		color: $color-light;
	}
}

.tabs__tab {
	display: none;

	&.tabs__tab--show {
		display: block;
	}
}
