.keyboard {
	background: black;
	color: white;
	height: 100%;
	/* min-height: 768px; */
	position: fixed;
	width: 100%;
}

.keyboard-keys {
	bottom: 0;
	height: 256px;
	left: 0;
	position: absolute;
	width: 100%;

	&::after {
		content: "";
		display: table;
		clear: both;
	}
}
