.grid-column {
	float: left;
	padding: 0 1rem;

	&.grid-column--span-1 { width: calc( 100% / 12 ); }
	&.grid-column--span-2 { width: calc( 100% / 12 * 2 ); }
	&.grid-column--span-3 { width: calc( 100% / 12 * 3 ); }
	&.grid-column--span-4 { width: calc( 100% / 12 * 4 ); }
	&.grid-column--span-5 { width: calc( 100% / 12 * 5 ); }
	&.grid-column--span-6 { width: calc( 100% / 12 * 6 ); }
	&.grid-column--span-7 { width: calc( 100% / 12 * 7 ); }
	&.grid-column--span-8 { width: calc( 100% / 12 * 8 ); }
	&.grid-column--span-9 { width: calc( 100% / 12 * 9 ); }
	&.grid-column--span-10 { width: calc( 100% / 12 * 10 ); }
	&.grid-column--span-11 { width: calc( 100% / 12 * 11 ); }
	&.grid-column--span-12 { width: calc( 100% / 12 * 12 ); }
}
