$slider-height: lines( 10 );
$thumb-height: lines( 1.25 );

@define-mixin track {
	background-color: red;
	border: none;
	height: 2px;
}

@define-mixin thumb {
	-webkit-appearance: none;
	background-color: grey;
	height: $thumb-height;
	width: 30px;
	margin: calc( $thumb-height / -2 ) 0 0;
}

.form-slider {
	background: blue;
	display: inline-block;
	height: $slider-height;
	width: $thumb-height;

	input[type=range] {
		-webkit-appearance: none;
		cursor: pointer;
		height: 2px;
		margin: 0 0 0 calc( $thumb-height / 2 );
		outline: none;
		transform: rotate( -270deg ) translateX( -11px );
		transform-origin: top left;
		width: $slider-height;

		&::-webkit-slider-runnable-track { @mixin track; }
		&::-webkit-slider-thumb { @mixin thumb; }
		&::-moz-range-track { @mixin track; }
		&::-moz-range-thumb { @mixin thumb; }
		&::-ms-track { @mixin track; }
		&::-ms-thumb { @mixin thumb; }
	}
}
