/**
 * Form
 *
 * :: Button
 * :: Select
 * :: Checkbox
 * :: Radio
 * :: Knob
 * :: Slider
 */

label {
	cursor: pointer;
}

/**
 * Button
 */

.form__button {
	padding: lines( 1 ) lines( 2 );
}

/**
 * Checkbox
 */

.form__checkbox {
	margin: lines( 0.5 ) 0;

	input[type=checkbox] {
		display: none;
	}

	.form__checkbox__box {
		border: 1px solid white;
		border-radius: 2px;
		display: inline-block;
		height: lines( 1 );
		width: lines( 1, 2px );
		margin: 0 lines( 0.25 ) 0 0;
		vertical-align: bottom;
		position: relative;
	}

	:checked + label .form__checkbox__box::after {
		background: red;
		border-radius: 2px;
		content: "";
		position: absolute;
		top: 12.5%;
		left: 12.5%;
		height: 75%;
		width: 75%;
	}
}

/**
 * Knob
 */

$knob-padding: lines( 1.25 );
$knob-diameter: lines( 4 );
$knob-radius: calc( $knob-diameter / 2 );
$knob-range-height: $knob-diameter;
$knob-range-width: calc( $knob-diameter * 4 );

@mixin track {
	background-color: red;
	border: none;
	height: $knob-diameter;
}

@mixin thumb {
	-webkit-appearance: none;
	background-color: blue;
	height: $knob-diameter;
	width: lines( 0.25 );

	&::after {
		display: block;
		content: "";
		background: red;
		height: 20px;
		width: 20px;
	}
}

.form__knob {
	display: inline-block;
	position: relative;

	&.form__knob--numbered .form__knob__body {
		padding: $knob-padding;
		position: relative;
	}

	.form__knob__label {
		display: block;
		text-align: center;
		margin-bottom: lines( 0.5 );
	}

	ul {
		height: 100%;
		width: 100%;

		li {
			display: block;
			text-align: center;
			position: absolute;
			top: 0;
			left: 0;
			width: 2em;
			z-index: 2;
			margin-left: -1em;
		}
	}

	.form-knob-5 { left: 50%; }

	.form__knob-4,
	.form__knob-6 { top: lines( 0.5 ); }
	.form__knob-4 { left: 25%; }
	.form__knob-6 { left: 75%; }

	.form__knob-3,
	.form__knob-7 { top: lines( 1.75 ); }
	.form__knob-3 { left: 12.5%; }
	.form__knob-7 { left: 87.5%; }

	.form__knob-2,
	.form__knob-8 { top: lines( 3.25 ); }
	.form__knob-2 { left: 10%; }
	.form__knob-8 { left: 90%; }

	.form__knob-1,
	.form__knob-9 { top: lines( 4.5 ); }
	.form__knob-1 { left: 17.5%; }
	.form__knob-9 { left: 82.5%; }

	.form__knob-0,
	.form__knob-10 { top: lines( 5.45 ); }
	.form__knob-0 { left: 32.5%; }
	.form__knob-10 { left: 67.6%; }

	.form__knob__marker {
		height: 2px;
		width: $knob-radius;
		position: absolute;
		top: 50%;
		left: 0;
		margin-top: -1px;
		background: white;
		pointer-events: none;
		transform: rotate( -65deg );
		transform-origin: top right;
		z-index: 1;
	}

	.form__knob__cap {
		background: blue;
		border-radius: 100%;
		height: $knob-diameter;
		width: $knob-diameter;
		position: relative;
		overflow: hidden;

		&.form__knob--adjustable {
			overflow: visible;
		}

		input[type=range] {
			-webkit-appearance: none;
			cursor: pointer;
			height: $knob-range-height;
			opacity: 0;
			outline: none;
			transform: rotate( -90deg );
			width: $knob-range-width;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: calc( $knob-range-height / -2 );
			margin-left: calc( $knob-range-width / -2 );

			&::-webkit-slider-runnable-track { @include track; }
			&::-webkit-slider-thumb { @include thumb; }
			&::-moz-range-track { @include track; }
			&::-moz-range-thumb { @include thumb; }
			&::-ms-track { @include track; }
			&::-ms-thumb { @include thumb; }
		}
	}
}

/**
 * Radio
 */

.form__radio {
	margin: lines( 0.5 ) 0;

	input[type=radio] {
		display: none;
	}

	.form__radio__box {
		border: 1px solid white;
		border-radius: 200px;
		display: inline-block;
		height: lines( 1 );
		width: lines( 1 );
		margin: 0 lines( 0.25 ) 0 0;
		vertical-align: bottom;
		position: relative;
	}

	:checked + label .form__radio__box::after {
		background: red;
		border-radius: 200px;
		content: "";
		position: absolute;
		top: 12.5%;
		left: 12.5%;
		height: 75%;
		width: 75%;
	}
}

/**
 * Select
 */

.form__select {
	border: 1px solid white;
	margin: lines( 0.5 ) 0;

	select {
		appearance: none;
		background: transparent;
		border: none;
		color: white;
		cursor: pointer;
		font-size: font-size( 18px );
		line-height: line-height( 18px );
		height: 100%;
		padding: lines( 0.5, 1px ) lines( 0.75, 1px );
		width: 100%;
	}
}

/**
 * Slider
 */

$slider-range-height: lines( 10 );
$slider-thumb-height: lines( 1.25 );

@mixin track {
	background-color: red;
	border: none;
	height: 2px;
}

@mixin thumb {
	-webkit-appearance: none;
	background-color: grey;
	height: $slider-thumb-height;
	width: 30px;
	margin: calc( $slider-thumb-height / -2 ) 0 0;
}

.form__slider {
	background: blue;
	display: inline-block;
	height: $slider-range-height;
	width: $slider-thumb-height;

	input[type=range] {
		-webkit-appearance: none;
		cursor: pointer;
		height: 2px;
		margin: 0 0 0 calc( $slider-thumb-height / 2 );
		outline: none;
		transform: rotate( -270deg ) translateX( -11px );
		transform-origin: top left;
		width: $slider-range-height;

		&::-webkit-slider-runnable-track { @include track; }
		&::-webkit-slider-thumb { @include thumb; }
		&::-moz-range-track { @include track; }
		&::-moz-range-thumb { @include thumb; }
		&::-ms-track { @include track; }
		&::-ms-thumb { @include thumb; }
	}
}
