/**
 * Notes
 *
 * :: Layout
 * :: Chord Table
 * :: Circle of Fifths
 */

/**
 * Layout
 */

.notes {
	overflow: hidden;
	padding: lines( 2 ) 0;

	.notes__root {
		float: left;
		position: relative;
		text-align: center;
		width: 40%;
	}

	.notes__chord {
		float: left;
		width: 60%;
		padding: lines( 0.5 ) 0 0;
	}
}

/**
 * Display
 */

.notes__display {
	font-size: font-size( 27px );
	height: lines( 4 );
	line-height: lines( 4 );
	width: lines( 6 );
	position: absolute;
	top: 50%;
	left: 50%;
	margin: lines( -2 ) 0 0 lines( -3 );
}

/**
 * Chord Table
 */

$chord-row-lines: 3;

.notes__chord-table {
	.notes__chord-row {
		border-bottom: 1px solid white;
		text-align: right;
		height: lines( $chord-row-lines, 1px );

		&:last-child {
			height: lines( $chord-row-lines );
			border-bottom: none;
		}

		.notes__chord-cell {
			cursor: pointer;
			display: inline-block;
			line-height: lines( $chord-row-lines );
			text-align: center;
			transition: all 200ms;
			width: 20%;

			&:hover,
			&.notes--selected {
				background: white;
				color: black;
			}
		}
	}
}

/**
 * Circle of Fifths
 */

.notes__circle-of-fifths {
	display: inline-block;
	padding: lines( 1 );
	position: relative;

	&::before {
		border: 1px solid white;
		border-radius: 100%;
		content: "";
		display: block;
		height: lines( 14 );
		width: lines( 14 );
	}

	.notes__fifth {
		background: black;
		border-radius: 100%;
		cursor: pointer;
		display: inline-block;
		width: lines( 2 );
		height: lines( 2 );
		line-height: lines( 2 );
		position: absolute;
		text-align: center;
		transition: all 200ms;
		left: 0;
		top: 0;

		&:hover,
		&.notes--selected {
			background: white;
			color: black;
		}
	}

	/* rows */
	.notes__fifth--330,
	.notes__fifth--30 { top: lines( 2 ); }
	.notes__fifth--300,
	.notes__fifth--60 { top: lines( 4 ); }
	.notes__fifth--270,
	.notes__fifth--90 { top: lines( 7 ); }
	.notes__fifth--240,
	.notes__fifth--120 { top: lines( 10 ); }
	.notes__fifth--210,
	.notes__fifth--150 { top: lines( 12 ); }
	.notes__fifth--180 { top: lines( 14 ); }

	/* columns */
	.notes__fifth--300,
	.notes__fifth--240 { left: lines( 2 ); }
	.notes__fifth--330,
	.notes__fifth--210 { left: lines( 4 ); }
	.notes__fifth--0,
	.notes__fifth--180 { left: lines( 7 ); }
	.notes__fifth--30,
	.notes__fifth--150 { left: lines( 10 ); }
	.notes__fifth--60,
	.notes__fifth--120 { left: lines( 12 ); }
	.notes__fifth--90 { left: lines( 14 ); }

	/* adjustents */
	.notes__fifth--30  { transform: translate( lines( 0.75 ),  lines( -0.75 ) ); }
	.notes__fifth--60  { transform: translate( lines( 1 ),     lines( -0.25 ) ); }
	.notes__fifth--150 { transform: translate( lines( 0.75 ),  lines( 0.75 ) ); }
	.notes__fifth--120 { transform: translate( lines( 1 ),     lines( 0.25 ) ); }
	.notes__fifth--210 { transform: translate( lines( -0.75 ), lines( 0.75 ) ); }
	.notes__fifth--240 { transform: translate( lines( -1 ),    lines( 0.25 ) ); }
	.notes__fifth--330 { transform: translate( lines( -0.75 ), lines( -0.75 ) ); }
	.notes__fifth--300 { transform: translate( lines( -1 ),    lines( -0.25 ) ); }
}
