$knob-diameter: lines( 5 );
$multiplier: 1.5;
$dimension: $knob-diameter * $multiplier;

@define-mixin track {
	background-color: red;
	border: none;
	height: $knob-diameter;
}

@define-mixin thumb {
	-webkit-appearance: none;
	background-color: grey;
	height: $knob-diameter;
	/* width: 30px; */
	width: 10px;
	/* margin: calc( $thumb-height / -2 ) 0 0; */
}

.form-knob {
	background: blue;
	border-radius: 100%;
	display: inline-block;
	height: $knob-diameter;
	width: $knob-diameter;
	position: relative;
	overflow: hidden;

	input[type=range] {
		-webkit-appearance: none;
		cursor: pointer;
		height: $dimension;
		outline: none;
		transform: rotate( -270deg );
		width: $dimension;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: calc( $dimension / -2 );
		margin-left: calc( $dimension / -2 );

		&::-webkit-slider-runnable-track { @mixin track; }
		&::-webkit-slider-thumb { @mixin thumb; }
		&::-moz-range-track { @mixin track; }
		&::-moz-range-thumb { @mixin thumb; }
		&::-ms-track { @mixin track; }
		&::-ms-thumb { @mixin thumb; }
	}
}
