$knob-diameter: lines( 5 );
$range-height: $knob-diameter;
$range-width: calc( $knob-diameter * 2 );

@define-mixin track {
	background-color: red;
	border: none;
	height: $knob-diameter;
}

@define-mixin thumb {
	-webkit-appearance: none;
	background-color: grey;
	/* height: 10px; */
	height: $knob-diameter;
	/* width: $knob-diameter; */
	/* width: 10px; */
	width: lines( 0.25 );
	/* border-radius: 100%; */
	
	&::after {
		display: block;
		content: "";
		background: red;
		height: 20px;
		width: 20px;
	}
}

.form-knob {
	background: blue;
	border-radius: 100%;
	display: inline-block;
	height: $knob-diameter;
	width: $knob-diameter;
	position: relative;
	/* overflow: hidden; */

	&.form-knob--adjustable {
		overflow: visible;
	}

	input[type=range] {
		-webkit-appearance: none;
		cursor: pointer;
		height: $range-height;
		outline: none;
		transform: rotate( -90deg );
		width: $range-width;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: calc( $range-height / -2 );
		margin-left: calc( $range-width / -2 );

		&::-webkit-slider-runnable-track { @mixin track; }
		&::-webkit-slider-thumb { @mixin thumb; }
		&::-moz-range-track { @mixin track; }
		&::-moz-range-thumb { @mixin thumb; }
		&::-ms-track { @mixin track; }
		&::-ms-thumb { @mixin thumb; }
	}
}
