/**
 * Keyboard
 */

@import 'global';

$white-count:              17;
$white-width:              100% / $white-count;
$white-bg:                 $color-light;
$white-fg:                 $color-dark;
$white-press-bg:           darken( $white-bg, 12 );
$white-press-fg:           $color-dark;
$white-highlight-bg:       $color-primary;
$white-highlight-fg:       $color-light;
$white-highlight-press-bg: darken( $color-primary, 12 );
$white-highlight-press-fg: $color-light;

$black-width:              $white-width / 2;
/* $black-bg:                 darken( $color-dark, 7 ); */
$black-bg:                 darken( $color-dark, 4 );
$black-fg:                 $color-light;
$black-press-bg:           lighten( $black-bg, 12 );
$black-press-fg:           $color-light;
$black-highlight-bg:       $color-primary;
$black-highlight-fg:       $color-light;
$black-highlight-press-bg: darken( $color-primary, 12 );
$black-highlight-press-fg: $color-light;

.keyboard {
	background: $color-dark url( '../../assets/images/noise.png' );
	color: $color-light;
	height: 100%;
	position: fixed;
	width: 100%;

	h4 {
		color: $color-secondary;
		font-family: 'Century Gothic', sans-serif;
		margin: lines( 0.5 ) 0;
	}
}

.keyboard__controls,
.keyboard__toolbar,
.keyboard__keys {
	left: 0;
	position: absolute;
	width: 100%;
}
.keyboard__controls {
	height: 70vh;
	top: 0;
}
.keyboard__toolbar {
	background: $black-bg;
	padding-top: lines( 1 );
	height: 10vh;
	top: 70vh;
}
.keyboard__keys {
	height: 20vh;
	top: 80vh;
	white-space: nowrap;
	min-width: $site-width;
}

.keyboard__key {
	background: $white-bg;
	color: $white-fg;
	height: 100%;
	display: inline-block;
	white-space: nowrap;
	width: $white-width;
	border-right: 1px solid black;
	position: relative;
	z-index: 1;

	&:last-child {
		border-right: none;
	}

	&.keyboard__key--is-highlighted {
		background: $white-highlight-bg;
		color: $white-highlight-fg;
	}

	&.keyboard__key--is-pressed {
		background: $white-press-bg;
		color: $white-press-fg;
	}

	&.keyboard__key--is-highlighted.keyboard__key--is-pressed {
		background: $white-highlight-press-bg;
		color: $white-highlight-press-fg;
	}

	&.keyboard__key--accidental {
		border: none;
		border-radius: 0 0 3px 3px;
		background: $black-bg;
		color: white;
		margin: 0 ( $black-width / -2 );
		vertical-align: top;
		width: $black-width;
		height: 65%;
		z-index: 2;

		&.keyboard__key--is-pressed {
			background: $black-press-bg;
			color: $black-press-fg;
		}

		&.keyboard__key--is-highlighted {
			background: $black-highlight-bg;
			border: 1px solid $black-bg;
			border-top: none;
		}

		&.keyboard__key--is-highlighted.keyboard__key--is-pressed {
			background: $black-highlight-press-bg;
			color: $black-highlight-press-fg;
		}
	}

	.keyboard__key__tooltip {
		bottom: 0;
		padding: 0 0 lines( 0.25 );
		position: absolute;
		left: 0;
		text-align: center;
		/* text-transform: uppercase; */
		width: 100%;
	}
}
