/**
 * Keyboard
 */

@import 'global';

$white-count: 17;
$white-width: 100% / $white-count;
$black-width: $white-width / 2;

$white-color: white;
$white-pressed-color: darken( $white-color, 15 );
$black-color: black;
$black-pressed-color: darken( $black-color, 15 );

.keyboard {
	background: black;
	color: white;
	height: 100%;
	position: fixed;
	width: 100%;

	h4 {
		color: yellow;
		font-family: 'Century Gothic', sans-serif;
	}
}

.keyboard__controls,
.keyboard__toolbar,
.keyboard__keys {
	left: 0;
	position: absolute;
	width: 100%;
}
.keyboard__controls {
	height: 70vh;
	top: 0;
}
.keyboard__toolbar {
	height: 10vh;
	top: 70vh;
}
.keyboard__keys {
	height: 20vh;
	top: 80vh;
	white-space: nowrap;
}

.keyboard__key {
	background: $white-color;
	color: black;
	height: 100%;
	display: inline-block;
	white-space: nowrap;
	width: $white-width;
	border-right: 1px solid black;
	position: relative;
	z-index: 1;

	&:last-child {
		border-right: none;
	}

	&.keyboard__key--is-highlighted {
		background: red;
	}

	&.keyboard__key--is-pressed {
		background: $white-pressed-color;
	}

	&.keyboard__key--accidental {
		border: none;
		border-radius: 0 0 3px 3px;
		background: black;
		color: white;
		margin: 0 ( $black-width / -2 );
		vertical-align: top;
		width: $black-width;
		height: 65%;
		z-index: 2;

		&.keyboard__key--is-pressed {
			background: $black-pressed-color;
		}

		&.keyboard__key--is-highlighted {
			background: red;
		}
	}

	.keyboard__key__tooltip {
		bottom: 0;
		padding: 0 0 lines( 0.25 );
		position: absolute;
		left: 0;
		text-align: center;
		text-transform: uppercase;
		width: 100%;
	}
}
