/**
 * Tabs
 */

.tabs {
	.tabs__titles {
		padding: lines( 0.5 ) 0;
		text-align: center;
	}
}

.tabs__title {
	cursor: pointer;
	font-size: font-size( 14px );
	padding: lines( 0.25 ) lines( 0.5 );
	outline: none;

	&:first-child {
		border-radius: 4px 0 0 4px;
	}

	&:last-child {
		border-radius: 0 4px 4px 0;
	}

	& + .tabs__title {
		border-left: 1px solid grey;
	}

	&.tabs__title--active {
		color: red;
	}
}

.tabs__tab {
	display: none;

	&.tabs__tab--show {
		display: block;
	}
}
