/**
 * App
 */

@import 'global';

* {
	border: 0;
	margin: 0;
	padding: 0;

	&,
	&::before,
	&::after {
		box-sizing: border-box;
	}
}

nav,
aside,
article,
details,
header,
hgroup,
footer,
section,
summary,
figure,
figcaption {
	display: block;
}

ol,
ul {
	list-style: none;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

body {
	background: $background-color;
	color: $foreground-color;
	font-family: Hevletica, Arial, sans-serif;
	font-family: 'Montserrat', sans-serif;
	font-size: font-size( 16px );
	font-weight: 300;
	line-height: line-height( 16px );
}

a {
	color: $highlight-color;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}
