//
// Globals
//
// :: Variables
// :: Functions
// :: Mixins

//
// Variables
//

$wrapper-width:    1024px;
$background-color: white;
$foreground-color: black;
$highlight-color:  red;
$base-font-size:   16px;
$base-line-height: 1.5;

//
// Functions
//

//
// Mixins
//
