$prompt-height: 250px;
$prompt-width: 250px;

.keyboard-prompt {
	height: $prompt-height;
	width: $prompt-width;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: calc( $prompt-height / -2 );
	margin-left: calc( $prompt-width / -2 );
	background: red;
	display: none;
	z-index: 3;

	&.keyboard-prompt--open {
		display: block;
	}
}
